<div class="container">
  <div class="form-wrapper">
    <form class="login-form" ng-submit="vm.onSubmit()">
        <div>
          <label id="login-title">Login to On The Spot</label>
        </div>
        <div>
          <label class="control-label" for="email" >Email Address</label>
          <input class="form-control" id="email" type="text" placeholder="someone@example.com" ng-model="vm.credentials.email">
        </div>
        <div>
          <label class="control-label" for="password">Password</label>
          <input class="form-control" id="password" type="password" placeholder="**********" ng-model="vm.credentials.password">
        </div>
        <div class="row">
          <div class="col-md-9 col-lg-9 col-xs-12 reset-link">Forgot your password? <a href="#">Reset it.</a></div>
          <button type="submit" class="login-button btn btn-primary btn-lg">LOGIN</button>
        </div>
    </form>
  </div>
</div>
