<div class="container">
  <div class="form-wrapper">
    <form class="login-form" ng-submit="vm.onSubmit()">
        <div>
					<span>
						<img src="/img/logo-64.png" alt="logo">
						<h3 id="login-title">On The Spot</h3>
					</span>
        </div>
        <div>
					<p id="login-error-msg" class="error-msg">Error: username or password incorrect</p>
          <label class="control-label" for="email" >Email Address</label>
          <input class="form-control" id="email" type="text" placeholder="someone@example.com" ng-model="vm.credentials.email">
        </div>
        <div>
          <label class="control-label" for="password">Password</label>
          <input class="form-control" id="password" type="password" placeholder="**********" ng-model="vm.credentials.password">
        </div>
        <div class="row">
          <div class="col-md-9 col-lg-9 col-xs-12 reset-link">Don't Have an Account? <a href="register">Create One</a></div>
          <button type="submit" class="login-button btn btn-primary btn-lg">LOGIN</button>
        </div>
    </form>
  </div>
</div>
