<navigation></navigation>

<div class="container">
	<div class="row">
		<div class="dashboard-wrapper col-md-12">

			<!-- Current Orders -->
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="widget-heading">
						<h5>Current Orders</h5>
						<span class="text-muted">Active Today {{ vm.currentDate }}</span>
						<hr>
						<h2 class="text-center">{{ vm.currentOrderCount }}</h2>
					</div>
				</div>
			</div>

			<!-- Orders Waiting -->
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="widget-heading">
						<h5>Orders Waiting</h5>
						<span class="text-muted">Awaiting Pickup</span>
						<hr>
						<h2 class="text-center">{{ vm.awaitingOrderCount }}</h2>
				</div>
			</div>
		</div>

		<!-- Delivered Today -->
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="widget-heading">
					<h5>Delivered Today</h5>
					<span class="text-muted">Orders successfully delivered</span>
					<hr>
					<h2 class="text-center">{{ vm.deliveredOrderCount }}</h2>
				</div>
			</div>
		</div>

		<!-- Other -->
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="widget-heading">
					<h5>Other</h5>
					<span class="text-muted">Other</span>
					<hr>
					<h2 class="text-center">10</h2>
				</div>
			</div>
		</div>

		<!-- Extra Info/Map -->
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="widget-heading">
					<!--<h5>Stats</h5>-->
					<img src="http://i.stack.imgur.com/dApg7.png" width="425" height="400" alt="map">
				</div>
			</div>
		</div>

		<!-- Assign Drivers -->
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="widget-heading">
					<h5>Orders Awaiting Assignment</h5>
					<span class="text-muted">Assign Drivers</span>
					<hr>
				</div>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="order in vm.orders | filter: { driver: 'unassigned' }">
						OrderId# {{ order._id }}
						<div class="btn-group dropup pull-right">
							<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Choose Driver
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="driver in vm.drivers">
									<a href="#" ng-click="vm.assignDriver({ _id: order._id, driverName: driver.firstName })">{{ driver.firstName }}</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>