<navigation></navigation>

<div class='container' ng-controller='OrderCtrl'>
  <div class='row'>
	<div class='col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 orders-search panel panel-default'>
		<form action="#" class="form-group form-group-lg">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="material-icons">search</i>
				</span>
				<input type="text" class="form-control order-search-bar" placeholder="Search orders">
			</div>
		</form>
    </div>
	</div>

	<div class="row">
		<div class='col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1'>
			<p class="lead"><span>{{vm.ordersMessage}}...</span>
				<select ng-model='vm.filter' class='selectpicker dropdown pull-right jobstate-dropdown'>
					<option selected="vm.filter == ''" value=''>All</option>
					<option selected="vm.filter == 'Order Placed'" value='Order Placed'>Order Placed</option>
					<option selected="vm.filter == 'Picked Up'" value='Picked Up'>Picked Up</option>
					<option selected="vm.filter == 'Paid'" value='Paid'>Paid</option>
					<option selected="vm.filter == 'Dropped Off'" value='Dropped Off'>Dropped Off</option>
				</select>
				<span class='pull-right'>Filter By: </span>
			</p>
		</div>
	</div>

  <div class='row'>
		<div class="col-md-6" ng-repeat="order in vm.orders | filter:{state : vm.filter} | orderBy: placedAt : reverse">
			<div class="{{order.panelClass}}">
				<div class="panel-heading ">
					<h3 class="panel-title clickable" ng-click="vm.openOrder(order)">Order ID# <strong>{{order._id}}</strong>
						<span class='card-dest-text pull-right'><strong>Status: </strong>{{order.state}}</span>
					</h3>
				</div>
				<div class="panel-body">
					<p class='card-dest-text'><strong>Pick Up</strong>: {{order.pickUpNumber + ' ' + order.pickUpName + ' ' + order.pickUpSuburb}}</p>
					<p class='card-dest-text'><strong>Destination</strong>: {{order.dropOffNumber + ' ' + order.dropOffName + ' ' + order.dropOffSuburb}}</p>
					<span class='float-right'>
						<a href='#'><i class="material-icons">print</i></a>
					</span>
					<div>
						<!--Metadata Icons-->
						<div ng-if='order.isExpress'>
						<span class='float-left' style="display: flex;">
							<i class="material-icons express-icon">directions_run</i>
							<span>Express</span>
						</span>
						</div>

						<div ng-if='order.isFragile'>
						<span class='float-left' style="display: flex;">
							<i class="material-icons valuable-icon">broken_image</i>
							<span>Fragile</span>
						</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
  </div>
</div>

