<navigation></navigation>

<div class='container' ng-controller='OrderCtrl'>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 orders-search panel panel-default'>
			<form action="#" class="form-group form-group-lg">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="material-icons">search</i>
					</span>
					<input type="text" class="form-control order-search-bar" placeholder="Search orders">
				</div>
			</form>
    </div>
	</div>

	<div class="row">
		<div class='col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1'>
			<p class="lead">{{ordersMessage}}...</p>
		</div>
	</div>

  <div class='row' ng-repeat='order in orders'>
		<div class='col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1'>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Order ID# <strong>{{order._id}}</strong>
						<span class='card-dest-text pull-right'><strong>Status: </strong>{{order.state}}</span>
					</h3>
				</div>
				<div class="panel-body">
					<p class='card-dest-text'><strong>Pick Up</strong>: {{order.pickUpNumber + ' ' + order.pickUpName + ' ' + order.pickUpSuburb}}</p>
					<p class='card-dest-text'><strong>Destination</strong>: {{order.dropOffNumber + ' ' + order.dropOffName + ' ' + order.dropOffSuburb}}</p>
					<span class='pull-right'>
							<a href='#'><i class="material-icons">delete_forever</i></a>
						</span>
					<span class='float-right'>
							<a href='#'><i class="material-icons">print</i></a>
						</span>
					<div>
						<!--Metadata Icons-->
						<div ng-if='order.isExpress'>
							<span class='float-left' style="display: flex;">
								<i class="material-icons express-icon">directions_run</i>
								<span>Express</span>
							</span>
						</div>

						<div ng-if='order.isFragile'>
							<span class='float-left' style="display: flex;">
								<i class="material-icons valuable-icon">broken_image</i>
								<span>Fragile</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>

