<navigation></navigation>

<div class='container'>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
    	<a href='/orders'>Back to all Orders</a>
  		<h4>Order #{{vm.order._id}}</h4>
		<div class="panel panel-default">
			<div class="panel-heading">
				Order Details
				<select ng-model='vm.state' ng-change='vm.updateJobState(vm.state)' class='pull-right jobstate-dropdown'
				ng-hide='vm.loggedInUserType() == "customer"'>
					<option selected="vm.state == 'Order Placed'" value='Order Placed'>Order Placed</option>
					<option selected="vm.state == 'Picked Up'" value='Picked Up'>Picked Up</option>
					<option selected="vm.state == 'Dropped Off'" value='Dropped Off'>Dropped Off</option>
				</select>
				<span class='pull-right' ng-hide='vm.loggedInUserType() == "customer"'>Job Status</span>
				<span class='pull-right' ng-show='vm.loggedInUserType() == "customer"'>Job Status: {{vm.state}}</span>
			</div>
			<div class="panel-body">
				Pick Up: 
				<p>{{vm.pickUpAddress}}</p>
<!-- 				<input ng-model='vm.order.pickUpNumber'>
				<input ng-model='vm.order.pickUpName'>
				<input ng-model='vm.order.pickUpSuburb'>
				<input ng-model='vm.order.pickUpPostcode'> -->
			</div>
			<div class="panel-body">
				Drop Off:
				<p>{{vm.dropOffAddress}}</p>
<!-- 				<input ng-model='vm.order.dropOffNumber'>
				<input ng-model='vm.order.dropOffName'>
				<input ng-model='vm.order.dropOffSuburb'>
				<input ng-model='vm.order.dropOffPostcode'> -->
			</div>
		</div>
    </div>
  </div>
  <ng-map center="-27.46,153.02" zoom='11'>
		<marker position="{{vm.pickUpAddress}}" title='{{vm.pickUpAddress}}' icon="img/pickUpMarker.png" on-click="vm.showCustomMarker()"></marker>
   	<marker position="{{vm.dropOffAddress}}" title='{{vm.dropOffAddress}}' icon='img/dropOffMarker.png' on-click="vm.showCustomMarker()"></marker>
		<directions 
			suppress-markers="true"
			origin="{{vm.pickUpAddress}}"
			destination="{{vm.dropOffAddress}}">
		</directions>
	</ng-map>
</div>
</div>
<br><br>